*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
}

body {
    background-color: aqua;
}

main {
    background-color: blueviolet;
    width: 600 px;
    padding: 10px;
    margin: 0;
    box-shadow: 3px 3px 5px;
}


rodape{
    padding: 24px;
    color: #0000;
    background-color:#22D4FD;
    text-align: center;
    font-family: #f6f6f6;
    font-size: 24px;
    font-weight: 400;

}
